
.imagelogo{
    align-content: center;
    padding: 0;
    width: 170px; 
    padding-right: 650px;
}
body{
    background-color: #eaac8b;
}
ul{
    list-style-type: none;
    background-color: #6d597a;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}
li a{
    display: block;
    color: #fee9e1;
    font-family: Alstoria;
    font-size: 30px;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}
li a:hover{
    background-color: #b56576;
}
h2{
    margin-top: 3.5rem;
    color: #fee9e1;
    font-family: Bembo;
    text-align: center;
}
hr{
    width:50%;
    border: 3px solid #6d597a;
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
}
.centrar{
    display: flex;
}
.container1{
    padding: 2.5rem;
    width: 90%;
}
.imagen{
    width: 40%;
    padding: 1rem;
    background-color:#6d597a; 
}
.image{
    width: 100%;
}
.texto{
    padding: 2rem;
    width: 40%;
    color:  #b56576;
    border-color:  #6C596E;
    border-width: 0.2rem;
    border-style: solid;
    font-family: Calibri Light;
    font-size: 1.6rem;
    text-align: center;
}
.texto, .imagen{
    margin: 1rem;
    display: inline-block;
    vertical-align: middle;
}
footer{
    background-color: #6d597a;
    overflow: hidden;
    margin: 2rem;
    padding: 1rem;
    color: #fee9e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
footer a{
    display: block;
    color: #fee9e1;
    font-family: Alstoria;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}
.element, .element1, .element2, .element3{
    float: left;
    width: 25%;
    height: 300px;
    position: relative;
    margin: 2rem;
    display: block;
    align-items: center;
}
.front, .front1,.front2, .front3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transition: all 0.5s linear;
}
.front img, .front1 img, .front2 img, .front3 img{
    width: 100%;
    height: 100%;
}
.back, .back1, .back2, .back3{
    background: linear-gradient(to bottom right, #b56576, #6C596E);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: -2;
    box-sizing: border-box;
}
.pname, .pname1, .pname2, .pname3{
    font-weight: bolder;
    font-size: 24px;
    font-family: 'Bembo';
}
.description, .description1, .description2, .description3{
  margin: 20px 0;
  font-family: 'Agency FB';
  font-size: 16px;
}
.back-content, .back-content1, .back-content2, .back-content3{
  padding: 0 40px;
}
.element .back-content, .element1 .back-content1, .element2 .back-content2, .element3 .back-content3{
  transform: scale(0);
  opacity: 0;
  transition: all 1s ease;
}
.element:hover .front, .element1:hover .front1, .element2:hover .front2, .element3:hover .front3{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  left: calc(100% - 50px);
  top:calc(15% - 50px);
  box-shadow: 0 0 20px #b56576, 0 0 40px #b56576;
}
.element:hover .front img, .element1:hover .front1 img, .element2:hover .front2 img, .element3:hover .front3 img{
  border-radius: 50px;
}
.element:hover .back-content, .element1:hover .back-content1, .element2:hover .back-content2, .element3:hover .back-content3{
  transform: scale(1);
  opacity: 1;
}